.size-test{
    border: 2px solid red;
}
#test1{
    width: 800px;
    height: 200px;
}
#test2{
    width: 50%;
    /*max-width: none;
    max-width: 600px;*/
    height: 200px;
}
.block{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    color: white;
}
.area1{background-color: red;}
.area2{background-color: orange;}
.area3{background-color: yellow;}
.area4{background-color: green;}
.area5{background-color: blue;}

.block-test1{
    display: inline;
}
.block-test2{
    display: inline-block;
}
.block-test3{
    display: block;
}

.container4{
    width: 500px;
    height: 500px;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row; /*좌에서 우로*/
    /*flex-direction: column; 위에서 아래로 주축이 바뀜*/
    /*flex-wrap: wrap;*/
    justify-content: center;
    /*align-content: flex-end;*/ /*두 행이상일 때 content사용*/
    align-items: center;/*한 행일 때 items사용*/
}

/* .container4 .block-test4{
    width: 200px;
    height: 50px;

    /* flex-grow: 1; /*grow : 비율 , 0이 기본값
    flex-basis: 0; 
    flex-shrink: 0;
}

.container4 .block-test4:nth-child(3)
{
    flex-grow: 2;
}
.container4 .block-test4:nth-child(2)
{
    order: -1;
}

.container4 .block-test4:nth-child(4)
{
    order: -2;
}
.container4 .block-test4:nth-child(5)
{
    flex-shrink: 2;
} */

.container5{
    width: 500px;
    height: 500px;
    background-color: springgreen;
    display: inline-flex;
}