/********************일반 구조 선택자 *******************/
/*형제 관계 태그 중 첫번 째 태그 선택 - 위치로구분*/
#test1 p:first-child{
    background-color: red;
    color: white;
}

/*형제 관계 태그 중에서 마지막 태그 선택*/
#test1 p:last-child{ /*마지막 자식 태그가 p가 아니기 때문에 변화가 없다*/
    background-color: yellow;
    color: white;
}

/*형제 관계 태그 중에서 앞에서 수열번째 태그 선택 -짝수 2n, 홀수 2n-1*/
#test1 p:nth-child(2n){
    background-color: yellowgreen;
    color: white;
}

/*형제 관계 태그 중에서 뒤에서 수열번째 태그 선택 -짝수 2n, 홀수 2n-1*/
#test1 p:nth-last-child(4){
    background-color: skyblue;
    color: white;
}

/*********************************************************/
/*********************형태 구조 선택자****************/

/*형제 관계 태그 중에서 첫번째 태그 선택 - 태그로 구분*/
#test2 p:first-of-type{
    background-color: red;
    color: white;
}

/*형제 관계 태그 중에서 마지막번째 태그 선택 - 태그로 구분*/
#test2 p:last-of-type{
    background-color: orange;
    color: white;
}

/*형제 관계 태그 중에서 앞에서 수열번째 태그 선택 -짝수 2n, 홀수 2n-1*/
#test2 p:nth-of-type(2n){
    background-color: yellowgreen;
    color: white;
}

/*형제 관계 태그 중에서 뒤에서 수열번째 태그 선택 */
#test2 p:nth-last-of-type(3){
    background-color: skyblue;
    color: white;
}

/*********************************************************/
/*********************문자 선택자****************/

/*첫번째 글자 선택*/
#test3 p::first-letter{
    font-size: 2em; /*1em = 16px*/
}

/*첫번째 줄을 선택*/
#test3 p::first-line{
    background-color: cyan;
}

/*태그 뒤에 위치하는 공간 선택 (가상요소 선택자) : 내용삽입 (인라인 요소(글자요소))*/
/*적을 내용이 없더라도 빈 값이라도 적어야 한다 -content:"" 그래야 영역이 잡히기 때문*/
#test3 p::after{
    content: "@@@태그뒤에 추가";
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
}
/*태그 앞에 추가*/
#test3 p::before{
    content: "1."; 
}

/*사용자가 드래그한 글자 선택*/
#test3 p::selection{
    background-color: red;
    color: white;
}

/*부정선택자*/
/*원래 홀수번째 값이 나와야 하는데 not선택자를 이용해서 짝수가 나옴*/
#test4 p:not(:nth-child(2n-1)){
    background-color: orange;
}

/*태그별로 자동번호 매겨주는 속성*/
#test4 p{
    counter-increment: rint;
}
#test4 p::before{
    content: counter(rint) ". ";
}